body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Arial;
  height: 100vh;
  margin: auto;
}
#root {
  min-height: 100%;
  position: relative;
}

  .loader {
    position: relative;
    margin: 0 auto;
  }

  .first,
  .second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid;
    box-shadow: 0 0 0 1px transparent;
  }

  .first {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }

  .second {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }

  @keyframes spinning {
    from { transform: rotate(0); }
    to { transform: rotate(2turn); }
  }
